.game-box{
    background-color: antiquewhite;
    height:700px;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    position: relative;
}
.game-box button {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    height: auto;
}

.rock {
    left: 10px;
}

.paper {
    left: 50%;
    transform: translateX(-50%);
}

.scissors{
    right: 10px;
}
p{
    text-align: center;
    font-size: 45px;
    font-family: Calibri, serif ;
}
#user-scoreline,#user-text{
    color: deepskyblue;
}
#cpu-scoreline,#cpu-text{
    color:red;
}
@media screen and (max-width: 768px) {
button {
    font-size: 12px;
    padding: 5px;
}
}